{% extends 'manager/base.html.twig' %}

{% block title %}Gestion des Evaluations{% endblock %}

{% block body %}
<div class="container">
    <h1>Administration des Evaluations</h1>
    <div class="row">
    {{ include('manager/service/padelevalcomp.html.twig') }}
    </div>
    <h5><a href="{{path('manager_collab')}}">Nouvelle Evaluation</a></h5>
    <table class="table">
        <thead>
            <tr class="active">
                <th>Collaborateur</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for e in evaluations %}
        {% for evaluation in e %}
            <tr>
                <td><a href="{{ path('user_show',{'id':evaluation.collaborateur.id})}}">{{ evaluation.collaborateur.fullName }}</a></td>
                <td>{{ evaluation.createdAt ? evaluation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('evaluation_show',{'id': evaluation.id, 'slug': evaluation.collaborateur.slug})}}"class="btn btn-success btn-xs" title="Voir"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('evaluation_edit',{'id': evaluation.id, 'slug': evaluation.collaborateur.slug})}}" class="btn btn-primary btn-xs" title="Modifier"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('manager_evaluation_delete',{'id': evaluation.id})}}" class="btn btn-danger btn-xs" title="Supprimer"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
