{% extends 'base.html.twig' %}

{% block title %}Etoile index{% endblock %}

{% block body %}
<div class="container">
    <h1>Etoile des competences</h1>
    {{ include('manager/service/padeletoile.html.twig') }}
    <table class="table">
        <thead>
            <tr class="active">
                <th>Collaborateur</th>
                <th>Evaluateur</th>
                <th>Date de Création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for e in etoiles %}
        {% for etoile in e %}
            <tr>
                <th><a href="{{ path('user_show',{'id':etoile.collaborateur.id})}}">{{ etoile.collaborateur.fullName }}</a></th>
                <td>{{ etoile.auteur.fullName }}</td>
                <td>{{ etoile.createdAt ? etoile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('manager_etoile_show',{'id': etoile.id})}}"class="btn btn-success btn-xs" title="Voir"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('manager_etoile_edit',{'id': etoile.id})}}" class="btn btn-primary btn-xs" title="Modifier"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('manager_etoile_delete',{'id': etoile.id})}}" class="btn btn-danger btn-xs" title="Supprimer"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
