{% extends 'base.html.twig' %}

{% block title %}Nouvelle Etoile de Compétences{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="container">
    <h1>Nouvelle Etoile de compétence</h1>
    <h3><a href="">{{missionCible.title}}</a></h3>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table table-hover">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="table_id">
                        <thead>
                            <tr>
                                <th>Compétences</th>
                                <th>Définition</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comp in missionCible.competences %}
                            <tr>
                                <th>{{comp.title}}</th>
                                <td>{{comp.def}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="col-md-12">
            <div class="panel-body">
                <canvas id="missionCibleCanvas" class="chartjs"></canvas>
            </div>
        </div>
    </div>
    <br>
    {{ include('etoile/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin_etoile') }}">Retour à la liste</a>
    {% elseif is_granted('ROLE_MANAGER') %}
    <a href="{{ path('manager_etoile') }}">Retour à la liste</a>
    {% else %}
    {% endif %}
    
</div>
{% endblock %}


{% block _etoile_ratingEtoiles_widget %}
    <p><strong>Compétences</stong></p>
    
    {{ form_widget(form)}}
    
{%  endblock %}


{% block _etoile_ratingEtoiles_entry_row %}
     {{ form_widget(form)}}
{% endblock %}  


    
{% block _etoile_ratingEtoiles_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-xs-6">
                {{ form_widget(form.competences)}}
            </div>
            <div class="col-xs-5">
                {{ form_widget(form.note)}}
            </div>
            <div class="col-xs-1" alt="Photo">
                <i class="fas fa fa-comment-dots fa-2x" title="{% for datas in form.competences.vars.choices %}{% if datas.data.id == form.competences.vars.value %}{{datas.data.description}}{% endif %}{% endfor %}"></i>
            </div>
        </div>
    </div>
{%  endblock %} 

{% block javascripts %}
<script>

var ctx = document.getElementById('missionCibleCanvas').getContext('2d');

var data = {
        labels:
        [
        {% for comp in missionCible.competences %}
            "{{comp.title}}",
        {% endfor %}
        ],

        datasets:
        [{
            label:"{{missionCible.title}}",
            data:
            [
            {% for comp in missionCible.competences %}
                "4",
            {% endfor %}
            ],
            fill:true,
            backgroundColor:"rgba(0, 128, 64, 0.2)",
            borderColor:"rgb(0, 128, 64) ",
            pointBackgroundColor:"rgb(0, 128, 64)",
            pointBorderColor:"#fff",
            pointHoverBackgroundColor:"#fff",
            pointHoverBorderColor:"rgb(0, 128, 64)",
            
        },
        ]};

var options = {
    scale: {
    angleLines: {
        display: true
    },
    ticks: {
        suggestedMin: 0,
        suggestedMax: 4
    }
}
};

var config =  {
            type:'radar',
            data: data, 
            options : options
        }
        var graph = new Chart (ctx, config)


</script>
{%  endblock %}