{% extends 'base.html.twig' %}

{% block title %}Nouvelle Etoile de Compétences{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="container">
    <h1>Nouvelle Etoile de compétence</h1>

    {{ include('etoile/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin_etoile') }}">Retour à la liste</a>
    {% elseif is_granted('ROLE_MANAGER') %}
    <a href="{{ path('manager_etoile') }}">Retour à la liste</a>
    {% else %}
    {% endif %}
    
</div>
{% endblock %}


{% block _etoile_ratingEtoiles_widget %}
    <p><strong>Compétences</stong></p>
    
    {{ form_widget(form)}}
    
{%  endblock %}


{% block _etoile_ratingEtoiles_entry_row %}
     {{ form_widget(form)}}
{% endblock %}  


    
{% block _etoile_ratingEtoiles_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-xs-6">
                {{ form_widget(form.competences)}}
            </div>
            <div class="col-xs-5">
                {{ form_widget(form.note)}}
            </div>
            <div class="col-xs-1" alt="Photo">
                <i class="fas fa fa-comment-dots fa-2x" title="{% for datas in form.competences.vars.choices %}{% if datas.data.id == form.competences.vars.value %}{{datas.data.description}}{% endif %}{% endfor %}"></i>
            </div>
        </div>
    </div>
{%  endblock %} 