{% extends 'admin/base.html.twig' %}

{% block title %}PDI{% endblock %}

{% block body %}
<div class="container">
    <h3>Plan de Développement Individuel : <strong>{{collaborateur.fullName}}</strong></h3>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>Date de création</th>
                <th>Situation Apprenante</th>
                <th>Progrès Espérés</th>
                <th>Contributeurs et leur Roles</th>
                <th>Date buttoire</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pdis %}
            {% for pdi in p %}
            <tr>
                <td>{{ pdi.createdAt ? pdi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pdi.situationApprenante }}</td>
                <td>{{ pdi.progres }}</td>
                <td>{{ pdi.contributeursRoles }}</td>
                <td>{{ pdi.endDate ? pdi.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_pdi_edit', {'id': collaborateur.id}) }}">Modifier</a>

    <a href="{{ path('admin_pdi') }}">Retour à la liste</a>

</div>
{% endblock %}
