{% extends 'base.html.twig' %}

{% block title %}Gestion des Evaluations{% endblock %}

{% block body %}
<div class="container">
    <h1>Administration des Evaluations</h1>
    <div class="row">
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('admin/service/padelevalcomp.html.twig') }}
    {% elseif is_granted('ROLE_MANAGER') %}
    {{ include('manager/service/padelevalcomp.html.twig') }}
    {% else %}
    {% endif %}
    
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <h5><a href="{{path('admin_collab')}}">Nouvelle Evaluation</a></h5>
    {% elseif is_granted('ROLE_MANAGER') %}
    <h5><a href="{{path('manager_collab')}}">Nouvelle Evaluation</a></h5>
    {% else %}
    {% endif %}
    
    <table class="table">
        <thead>
            <tr class="active">
                <th>Collaborateur</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
                {% for evaluation in evaluations %}
                    <tr>
                        <td><a href="{{ path('user_show',{'id':evaluation.collaborateur.id})}}">{{ evaluation.collaborateur.fullName }}</a></td>
                        <td>{{ evaluation.createdAt ? evaluation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('evaluation_show',{'id': evaluation.id, 'slug': evaluation.collaborateur.slug})}}"class="btn btn-success btn-xs" title="Voir"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('evaluation_edit',{'id': evaluation.id, 'slug': evaluation.collaborateur.slug})}}" class="btn btn-primary btn-xs" title="Modifier"><i class="fas fa-edit"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_evaluation_delete',{'id': evaluation.id})}}" class="btn btn-danger btn-xs" title="Supprimer"><i class="fas fa-trash"></i></a>
                            {% elseif is_granted('ROLE_MANAGER') %}
                            <a href="{{ path('manager_evaluation_delete',{'id': evaluation.id})}}" class="btn btn-danger btn-xs" title="Supprimer"><i class="fas fa-trash"></i></a>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
        {% elseif is_granted('ROLE_MANAGER') %}
                {% for e in evaluations %}
                {% for evaluation in e %}
                    <tr>
                        <td><a href="{{ path('user_show',{'id':evaluation.collaborateur.id})}}">{{ evaluation.collaborateur.fullName }}</a></td>
                        <td>{{ evaluation.createdAt ? evaluation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('evaluation_show',{'id': evaluation.id, 'slug': evaluation.collaborateur.slug})}}"class="btn btn-success btn-xs" title="Voir"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('evaluation_edit',{'id': evaluation.id, 'slug': evaluation.collaborateur.slug})}}" class="btn btn-primary btn-xs" title="Modifier"><i class="fas fa-edit"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_evaluation_delete',{'id': evaluation.id})}}" class="btn btn-danger btn-xs" title="Supprimer"><i class="fas fa-trash"></i></a>
                            {% elseif is_granted('ROLE_MANAGER') %}
                            <a href="{{ path('manager_evaluation_delete',{'id': evaluation.id})}}" class="btn btn-danger btn-xs" title="Supprimer"><i class="fas fa-trash"></i></a>
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                {% endfor %}
        {% else %}
        {% endif %}
        
        </tbody>
    </table>

</div>
{% endblock %}
