{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    
    <hr>
    
    <h1>Bonjour {{collaborateur.prenom}} !</h1>
    
    <hr>
    
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
        {{ include('admin/service/padelevalcomp.html.twig') }}
        {{ include('admin/service/padeletoile.html.twig') }}
        {{ include('admin/service/padelleader.html.twig') }}
        {% elseif is_granted('ROLE_MANAGER') %}
        {{ include('manager/service/padelevalcomp.html.twig') }}
        {{ include('manager/service/padeletoile.html.twig') }}
        {{ include('manager/service/padelleader.html.twig') }}
        {% else %}
        {% endif %}

        <div class="col-md-4">
             <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Analyse Détaillée</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    Choisir Secteur <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                        {% for secteur in secteurs %}
                        <li><a href="{{ path('manager_eval_secteur',{'id':secteur.id})}}">{{secteur.title}}</a></li>
                        {% endfor %}
                        </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    Choisir un Rayon <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                        {% for rayon in rayons %}
                        <li><a href="{{ path('manager_eval_rayon',{'id':rayon.id})}}">{{rayon.title}} | {{rayon.numero}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <h3> Suivi des évaluations </h3>
    <div class="row">
        <div class="card border secondary mb-3">
            <div class="card-header text-center">
                <h3><strong>Evaluation des Compétences</strong></h3>
            </div>  
            <div class="card-body">
            {% for cat in categories %}
                <div class="panel-body col-md-6">
                    <canvas id="{{cat.slug}}" class="chartjs"></canvas>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>    
</div>


{% endblock body %}
{% block javascripts %}
{% for cat in categories %}
<script>

var ctx = document.getElementById('{{cat.slug}}').getContext('2d');

var data = {
        labels:
        [
        {% for skill in skills %}
            {% if skill.competence.category.slug == cat.slug %}
            "{{skill.competence.title}}",
            {% endif %}
        {% endfor %}
        ],

        datasets:[{
            label:"{{cat.title}}",
            data:
            [
            {% for skill in skills %}
                {% if skill.competence.category.slug == cat.slug %}
                "{{skill.avgNotes}}",
                {% endif %}
            {% endfor %}
            ],
            fill:true,
            backgroundColor:"rgba(255, 99, 132, 0.2)",
            borderColor:"rgb(255, 99, 132)",
            pointBackgroundColor:"rgb(255, 99, 132)",
            pointBorderColor:"#fff",
            pointHoverBackgroundColor:"#fff",
            pointHoverBorderColor:"rgb(255, 99, 132)",
            
        }]};

var options = {
    scale: {
    angleLines: {
        display: true
    },
    ticks: {
        suggestedMin: 0,
        suggestedMax: 4
    }
}
};

var config =  {
            type:'radar',
            data: data, 
            options : options
        }
        var graph = new Chart (ctx, config)


</script>
{% endfor %}
{%  endblock %}