{% extends 'base.html.twig' %}

{% block title %}MissionCible{% endblock %}

{% block body %}
<div class="container">
    <h1>MissionCible</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission_cible.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ mission_cible.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ mission_cible.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mission_cible_index') }}">back to list</a>

    <a href="{{ path('mission_cible_edit', {'id': mission_cible.id}) }}">edit</a>

</div>

{% endblock %}
