{% extends 'base.html.twig' %}

{% block title %}Gestion des Collaborateurs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Gestion des Collaborateurs</h1>
    <br>
    <br>
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <th>Matricule</th>
                <th>Nom Prénom</th>
                <th>Rayon</th>
                <th>Mission</th>
                <th>Evaluations</th>
            </tr>
        </thead>
        <tbody>
            {% for effectif in collaborateur %}
            {% for c in effectif %}
            <tr>
                <th>{{c.matricule}}</th>
                <th><a href="{{ path('user_show',{'id':c.id})}}">{{ c.fullName }}</a></th>
                <th>
                    {% if c.rayon is empty %}
                    {% else %}
                    {{c.rayon.numero}} </h4>
                    {% endif %}
                </th>
                <th>
                    {% if c.mission is empty %}
                    {% else %}
                    {{c.mission.title}} </h4>
                    {% endif %}
                </th>
                <th>
                    <a href="{{ path('evaluation_new',{'id':c.id})}}" class="btn btn-info btn-xs" title="Compétences"><i class="fas fa-sliders-h"></i></a>
                    <a href="{{ path('manager_pdi_new',{'id':c.id})}}" class="btn btn-default btn-xs" title="PDI"><i class="fas fa-project-diagram"></i></a>
                    <a href="{{ path('etoile_mission',{'id':c.id})}}" class="btn btn-warning btn-xs" title="Etoile des Compétences"><i class="fas fa-star"></i></a>
                    <a href="{{ path('leader_new',{'id':c.id})}}" class="btn btn-link btn-xs" title="Etoile du Leader"><i class="fas fa-star"></i></a>
                </th>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready( function () {
    $('effectif').DataTable();
} );
</script>
{% endblock %}