{% extends 'manager/base.html.twig' %}

{% block title %}Mission Ciblée{% endblock %}

{% block body %}
<div class="container">

    <h1>Choix de la Mission Ciblée</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}


    <a href="{{ path('account_index') }}">Retour</a>

{% endblock %}



