{% extends 'manager/base.html.twig' %}

{% block title %}Nouvelle Etoile de Compétences{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="container">
    <h1>Nouvelle Etoile de compétence</h1>

    {{ include('manager/etoile/_form.html.twig') }}

    <a href="{{ path('manager_etoile') }}">back to list</a>
</div>
{% endblock %}


{% block _etoile_ratingEtoiles_widget %}
    <p><strong>Compétences</stong></p>
    
    {{ form_widget(form)}}
    
{%  endblock %}


{% block _etoile_ratingEtoiles_entry_row %}
     {{ form_widget(form)}}
{% endblock %}  


    
{% block _etoile_ratingEtoiles_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-xs-6">
                {{ form_widget(form.competences)}}
            </div>
            <div class="col-xs-5">
                {{ form_widget(form.note)}}
            </div>
            <div class="col-xs-1" alt="Photo" title=""><i class="fas fa fa-comment-dots fa-2x"></i></div>
        </div>
    </div>
{%  endblock %}