{% extends 'admin/base.html.twig' %}

{% block title %}Etoile{% endblock %}

{% block body %}
<div class="container">
    <h1>Etoile des Compétences de {{etoile.collaborateur.fullName}}</h1>
    <h3>Mission Cible : <strong>{{etoile.collaborateur.missionCible.title}}</strong></h3>
    <br>
    <p>Date : {{ etoile.createdAt ? etoile.createdAt|date('Y-m-d H:i:s') : '' }}</p>
    <p>Evaluateur : {{ etoile.auteur.fullName }}</p>

    <div class="table table-hover">
      <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="table_id">
        <thead>
            <tr>
                <th>Compétences</th>
                <td>Notes</td>
            </tr>
        </thead>
        <tbody>
            {% for rating in etoile.ratingEtoiles %}
            <tr>
                <th>{{rating.competences.title}}</th>
                <td>{{rating.note}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="panel panel-default">
        <div class="panel-body text-center mt-3">
            <canvas id="{{etoile.id}}" class="chartjs" width="404" height="202" style="display: block; width: 404px; height: 202px;"></canvas>
        </div>
        <br>
    </div>

    <a href="{{ path('etoile_index') }}">back to list</a>

    <a href="{{ path('etoile_edit', {'id': etoile.id}) }}">edit</a>
</div>
{% endblock %}

{% block javascripts %}
<script>

var ctx = document.getElementById('{{etoile.id}}').getContext('2d');

var data = {
        labels:[
            {% for rating in etoile.ratingEtoiles %}
                "{{rating.competences.title}}",
            {% endfor %}
            ],

        datasets:[{
            label:"{{etoile.collaborateur.fullName}}",
            data:
            [
            {% for rating in etoile.ratingEtoiles %}
                "{{rating.note}}",
            {% endfor %}
            ],
            fill:true,
            backgroundColor:"rgba(255, 99, 132, 0.2)",
            borderColor:"rgb(255, 99, 132)",
            pointBackgroundColor:"rgb(255, 99, 132)",
            pointBorderColor:"#fff",
            pointHoverBackgroundColor:"#fff",
            pointHoverBorderColor:"rgb(255, 99, 132)",
            
        }]};

var options = {
    scale: {
    angleLines: {
        display: true
    },
    ticks: {
        suggestedMin: 0,
        suggestedMax: 4
    }
}
};

var config =  {
            type:'radar',
            data: data, 
            options : options
        }
        var graph = new Chart (ctx, config)

</script>
{%  endblock %}